# Get these from https://my.telegram.org
TELEGRAM_API_ID=your_api_id_here
TELEGRAM_API_HASH=your_api_hash_here

# Target user ID whose messages will be exported/deleted
# Get your user ID from @userinfobot
TELEGRAM_USER_ID=your_user_id_here

# Required only for smart_segmenter (TypeSafe-powered thread analysis)
# Get one at https://console.typesafe.ai/settings/keys
TYPESAFE_API_KEY=your_typesafe_api_key_here


